<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Appenders>
    <Console name="console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{ISO8601} [%t] %-5level %class{-5}.%method(%file:%line) - %msg%n"/>
    </Console>
    <Console name="jetty" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{ISO8601} [%t] %-5level %class{-2}.%method(%file:%line) - %msg%n"/>
    </Console>
  </Appenders>
  <Loggers>
    <Root level="trace">
      <AppenderRef ref="console"/>
    </Root>
    <Logger name="org.eclipse.jetty" level="info" additivity="false">
      <AppenderRef ref="jetty"/>
    </Logger>
  </Loggers>
</Configuration>